<%= simple_form_for @question do |f| %>

  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :content %>
  <div class="row">
    <div class="col-xs-8">
      <%= f.input :source %>
    </div>
    <div class="col-xs-4">
      <%= f.input :year %>
    </div>
  </div>

  <h1>
    <small><%= t('activerecord.models.answer.other') %></small>
  </h1>

  <%= f.simple_fields_for :answers do |answer| %>
  <div class="row">
    <div class="col-xs-1">
      <%= answer.input :correct, as: :radio_buttons, name: 'teste' %>
    </div>
    <div class="col-xs-11">
      <%= answer.input :content %>
    </div>
  </div>
  <% end %>

  <%= f.button :submit %>

<% end %>
