<%- model_class = Question -%>
<div class="page-header">
  <h1> <%= model_class.model_name.human.titleize %> #<%= @question.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><%= @question.content %></dd>
  <dt><strong><%= model_class.human_attribute_name(:source) %>:</strong></dt>
  <dd><%= @question.source %></dd>
  <dt><strong><%= model_class.human_attribute_name(:year) %>:</strong></dt>
  <dd><%= @question.year %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @question.status_humanize %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
  <dd><%= I18n.l(@question.created_at, format: :default) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:updated_at) %>:</strong></dt>
  <dd><%= I18n.l(@question.updated_at, format: :default) %></dd>

  <h1>
    <small><%= t('activerecord.models.answer.other') %></small>
  </h1>

  <% @question.answers.each do |answer| %>
    <dt><strong><%= Answer.human_attribute_name(:content) %>:</strong></dt>
    <dd><%= answer.content %>
    <% if answer.correct %>
      <i class="fa fa-check" aria-hidden="true"></i>
    <% end %>
    </dd>
  <% end %>
</dl>

<%= link_to t('helpers.links.edit'), edit_question_path(@question) %> |
<%= link_to t('helpers.links.back'), pages_home_path %>
