<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">

          <div class="text-center">
            <h2><%= t('helpers.links.edit')%></h2>
            <hr>
          </div>

          <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <div class="row">
                  <div class="col-xs-12">
                    <%= f.input :email, required: true, autofocus: true %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <%= f.input :password_confirmation, required: true %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <%= f.input :current_password, required: true %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-sm-offset-5">
                  <%= f.button :submit, t('.update') %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to t('helpers.links.back'), pages_home_path %>
