<%= simple_form_for @revision do |f| %>

  <% if @revision.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @revision.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1>
    <small><%= t('activerecord.models.revision.one') %></small>
  </h1>

  <%= f.input :comment %>
  <div class="row">
    <div class="col-xs-3">
      <%= f.input :status, collection: RevisionStatus, include_blank: false %><br>
    </div>
  </div>

  <%= f.input :question_id, as: :hidden %>

  <%= f.button :submit %>
<% end %>
