<%- model_class = Revision -%>

<h1>
  <small><%= t('activerecord.models.revision.other') %></small>
</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:comment) %></th>
    <th><%= model_class.human_attribute_name(:status) %></th>
    <th><%= model_class.human_attribute_name(:reviewer) %></th>
  </tr>
  </thead>

  <tbody>
  <% revisions.each do |revision| %>
      <tr>
        <td><%= revision.id %></td>
        <td><%= truncate(revision.comment, length: 40) %></td>
        <td><%= revision.status_humanize %></td>
        <td><%= revision.reviewer %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
