<%- model_class = Revision -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<%= render 'form' %>

<%= render 'questions/question', question: @question %>

<% if @question.there_is_at_least_one_revision %>
  <%= render 'table', revisions: @question.revisions %>
<% end %>

<%= link_to t('helpers.links.back'), pages_home_path %>
